.env
__pycache__/
*.pyc
/.idea/.gitignore
/.idea/link_cutter.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/ruff.xml
/.idea/vcs.xml
